.dataLeft {
  width: 100%;
  background-color: #eee;
}

.deploymentTable {
  display: inline-block !important;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
}
.deployementHeader {
  align-items: center;
  width: 100%;
  font-weight: bold;
  background-color: #eee;
  color: 6b6c6d;
  padding: 15px 5px;
  display: inline-flex;
}
.deploymentHead {
  align-items: center;
  width: 95%;
  font-weight: bold;
  color: 6b6c6d;
  text-align: center;
}

.deployementRow {
  width: 100%;
  min-width: 60% !important;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 5px;
  background-color: #fff;
  border-top: 1px solid #aaa;
}

.deployementLeft {
  width: 40%;
}

.deployementRight {
  width: 60%;
}

.viewAPI {
  width: 60%;
  cursor: pointer;
  color: rgb(74, 74, 249);
}
.downloadAPI {
  width: 60%;
  cursor: pointer;
  color: rgb(74, 74, 249);
}

.closeicon {
  display: flex;
  align-items: end;
  width: 3%;
  justify-content: flex-end;
  cursor: pointer;
}
