<mat-dialog-content class="mat-typography" *ngIf="apiDetailsData">
  <div class="dataLeft">
    <div class="deploymentTable">
      <div class="deployementHeader">
        <div class="deploymentHead" for="deployment">Deployment Details</div>
        <div class="closeicon" (click)="closeDialog()"><i class="fa-solid fa-xmark"></i></div>
      </div>
      <div class="deployementRow">
        <div class="deployementLeft">API ID</div>
        <div class="deployementRight">{{ apiDetailsData.FileID }}</div>
      </div>

      <div class="deployementRow">
        <div class="deployementLeft">API NAME</div>
        <div class="deployementRight">{{ apiDetailsData.FileName }}</div>
      </div>

      <div class="deployementRow">
        <div class="deployementLeft">Catalog Name</div>
        <div class="deployementRight">{{ apiDetailsData.CatalogName }}</div>
      </div>

      <div class="deployementRow">
        <div class="deployementLeft">AIT</div>
        <div class="deployementRight">{{ apiDetailsData.ModifiedAt }}</div>
      </div>

      <div class="deployementRow">
        <div class="deployementLeft">Organization Name</div>
        <div class="deployementRight">{{ apiDetailsData.OrgName }}</div>
      </div>

      <div class="deployementRow">
        <div class="deployementLeft">Deployment Status</div>
        <div class="deployementRightSuccess" *ngIf="apiDetailsData.FilePublishStatus == 'Success'">{{ apiDetailsData.FilePublishStatus }}</div>
        <div class="deployementRightFailed" *ngIf="apiDetailsData.FilePublishStatus == 'Failed'">{{ apiDetailsData.FilePublishStatus }}</div>
      </div>
      <div class="deployementRow">
        <div class="deployementLeft">Deployment Errors</div>
        <div class="deployementRightSuccess" *ngIf="apiDetailsData.FilePublishStatus == 'Success'">{{ apiDetailsData.FilePublishError }}</div>
        <div class="deployementRightFailed" *ngIf="apiDetailsData.FilePublishStatus == 'Failed'">{{ apiDetailsData.FilePublishError }}</div>
      </div>
      <div class="deployementRow" *ngIf="apiDetailsData.Status == 'PASS'">
        <div class="deployementLeft">Link to Asset</div>
        <div class="downloadAPI" (click)="downloadAPIJSON()">Asset</div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->
