<div class="conatiner">
  <div class="banner">
    <div class="bannerHead">Welcome to your API Listing portal</div>
    <div class="bannerSubHead">List all your apis</div>
  </div>

  <div class="dataContainer">
    <div class="dataLeft">
      <div class="deploymentTable">
        <div class="deploymentHead" for="deployment">Deployment Details</div>
        <div class="deployementRow">
          <div class="deployementLeft">Deployment ID</div>
          <div class="deployementRight">{{deploymentInfo?.deploymentID}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Artifact Name</div>
          <div class="deployementRight">{{deploymentInfo?.artifactName}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">AIT</div>
          <div class="deployementRight">{{deploymentInfo?.ait}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Catalog</div>
          <div class="deployementRight">{{deploymentInfo?.catalog}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Organization ID</div>
          <div class="deployementRight">{{deploymentInfo?.organizationId}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Environment Name</div>
          <div class="deployementRight">{{deploymentInfo?.environmentName}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Resume Count</div>
          <div class="deployementRight">{{deploymentInfo?.resumeCount}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Status</div>
          <div class="deployementRight">{{deploymentInfo?.status}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Initiated By</div>
          <div class="deployementRight">{{deploymentInfo?.initiatedBy}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Initiated Date</div>
          <div class="deployementRight">{{deploymentInfo?.initiatedDate?.toLocaleDateString('en-IN')}}</div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Resumed By</div>
          <div class="deployementRight">{{deploymentInfo?.resumedBy}}</div>
        </div>


        <div class="deployementRow">
          <div class="deployementLeft">Resumed Date</div>
          <div class="deployementRight">{{deploymentInfo?.resumedDate?.toLocaleDateString('en-IN')}}</div>
        </div>


        <!-- <div class="deployementRow">
          <div class="deployementLeft">Item 1</div>
          <div class="deployementRight"><a href="#">VIEW</a></div>
        </div>

        <div class="deployementRow">
          <div class="deployementLeft">Item 1</div>
          <div class="deployementRight"><a href="#">DOWNLOAD</a></div>
        </div> -->
      </div>
    </div>

    <div class="dataRight">
      <div class="apiListHeader">
        <div class="assets">Assets</div>

        <div class="searchContainer">
          <select class="apiType" name="status">
            <option [value]="0">All types</option>
            <option [value]="1">Active</option>
            <option [value]="2">In Active</option>
          </select>
          <span class="searchIcon"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
          <input
            matInput
            class="apiSearch"
            type="text"
            [(ngModel)]="searchText"
            placeholder="Search APIs"
            (keyup)="applyAPIFilter(filter.value)"
            #filter
          />
          <span class="closeIcon" (click)="clearSearch()"><i class="fa-solid fa-xmark"></i></span>

          <div class="filterIcons">
            <!-- <span (click)="showGridView(true)" [ngStyle]="getGICONStyle()" ><i class="fa-solid fa-grip"></i></span> -->
            <!-- <span (click)="showGridView(false)" [ngStyle]="getTICONStyle()"><i class="tableIcon fa-solid fa-bars"></i></span> -->
          </div>
        </div>
      </div>
      <!-- <div *ngIf="showGrid" class="gridContainer">
        <div *ngFor="let grid of cardFilterContent" class="cardContainer" (click)="openAPIDetailsDialgue(grid)">
          <div class="top">
            <div class="type">{{ grid.FileID }}</div>
            <div class="rating">
              <span *ngIf="grid.rating >= 1"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.rating >= 2"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.rating >= 3"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.rating >= 4"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.rating >= 5"><i class="fa-solid fa-star"></i></span>
            </div>
          </div>
          <div class="bottom">
            <img src="../../assets/api_icon.png" />{{ grid.FileName }}
            <div class="modifiedat">Modified At :    {{grid.ModifiedAt.toLocaleDateString('en-IN')}}</div>
          </div>
        </div>
      </div> -->

      <div *ngIf="!showGrid" class="gridContainer">
        <div class="tableContainer">
          <div class="tableHead">
            <div class="tableContent">Name</div>
            <div class="tableContent">Type</div>
            <div class="tableContent">Date Modified</div>
            <div class="tableContent">Status</div>
          </div>

          <div class="tableData" *ngFor="let grid of cardFilterContent"  (click)="openAPIDetailsDialgue(grid)">
            <div class="tableContent">{{ grid.FileName }}</div>
            <div class="tableContent">
              <img src="../../assets/api_icon.png" />{{ grid.FileID }}
            </div>
            <div class="tableContent">{{ grid.ModifiedAt.toLocaleDateString('en-IN') }}</div>
            <div class="tableContent">{{ grid.Status}}</div>
            <!-- <div class="tableContent">{{ grid.rating }}</div> -->
            <!-- <div class="tableContent rating">
              <span *ngIf="grid.Status >= 1"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.Status >= 2"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.Status >= 3"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.Status >= 4"><i class="fa-solid fa-star"></i></span>
              <span *ngIf="grid.Status >= 5"><i class="fa-solid fa-star"></i></span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
