// @import url("../../shared/varaibles");

mat-grid-tile {
  background: lightblue;
}

.conatiner {
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

.banner {
  width: 100%;
  height: 25vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/bg_1.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  opacity: 0.8;

  .bannerHead {
    font-size: 38px;
    font-weight: bold;
    color: var(--primary-color);
  }

  .bannerSubHead {
    font-size: 20px;
    margin-top: 15px;
    color: var(--secondary-color);
  }
}

.dataContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #a8d0e6;
  min-height: calc(100vh - 25vh);
}
.dataLeft {
  width: 20%;
  padding: 20px 10px;
  background-color: #f4ebba;
}

.deploymentTable {
  width: 100%;
  border: 1px solid #374785;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;

  .deploymentHead {
    width: 100%;
    font-weight: bold;
    background-color: #374785;
    color: white;
    padding: 20px 7px;
  }

  .deployementRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
    border-bottom: 1px solid #374785;
  }

  .deployementLeft {
    width: 40%;
  }

  .deployementRight {
    width: 60%;
  }
}
.apiListHeader {
  width: 100%;
  padding: 20px 0;
}
.assets {
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.apiType {
  height: 3em;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin-right: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 2px 2px 3px grey;
}
.apiSearch {
  height: 3em;
  padding: 5px 7px;
  border-radius: 0px;
  width: 60%;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 2px 2px 3px grey;
}
.searchIcon,
.closeIcon {
  display: inline-flex;
  height: 3em;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background: white;
  box-shadow: 2px 2px 3px grey;
  border-radius: 5px 0 0 5px;
  color: var(--primary-color);
  cursor: pointer;
}
.closeIcon {
  border-radius: 0 5px 5px 0;
}

.filterIcons {
  height: 3em;
  margin-left: 10px;
  display: flex;
  align-items: center;

  span {
    color: var(--primary-color);
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
}
.dataRight {
  width: 80%;
  padding: 0 30px;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: calc(100%);
  margin-left: -7.5px;
}
.cardContainer {
  width: calc(30%);
  margin: 7.5px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #374785;
  color: #a8d0e6;
  box-shadow: 2px 2px 3px grey;
  cursor: pointer;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 16px;
    font-weight: bold;

    img {
      width: 50px;
      margin-bottom: 10px;
    }
  }

  .rating {
    span {
      font-size: 10px;
      margin: 0 3px;
      color: #f8e9a1;
    }
  }
}

.tableContainer {
  width: 93%;
  // background-color: white;

  .tableHead {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // padding: 10px 7px;
    font-weight: bold;
    background-color: #374785;
    color: white;
  }
  .tableData {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    cursor: pointer;
  }

  .tableContent {
    width: 25%;
    padding: 20px 7px;
    border-bottom: 1px solid #374785;
    display: inline-flex;
    align-items: center;

    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}

.form-group {
  padding: 15px 0;
}
