<div class="conatiner">
  <div class="banner">
    <div>Welcome to your API Listing portal</div>
  </div>



  <div class="dataContainer">
    <div class="dataLeft">
      <label for="deployment">Deployment Details</label>
    </div>

    <div class="dataRight">
      <div class="apiListHeader">
          <label class="assets">Assets </label>
          <select class="apiType" name="status">
            <option [value]="1">Active</option>
            <option [value]="0">In Active</option>
          </select>
          <input class="apiSearch" type="text" placeholder="Search APIs" #filter />
      </div>
      <div *ngIf="gridView" class="gridContainer">
        <div *ngFor="let grid of cardContent" class="cardContainer">
          <div class="top">
            <div class="type">{{ grid.type }}</div>
            <div class="rating">{{ grid.rating }}</div>
          </div>
          <div class="bottom">{{ grid.name }}</div>
        </div>
      </div>

      <div *ngIf="tableView" class="gridContainer">
        <div class="tableContainer">
          <div class="tableHead">
            <div class="tableContent">Name</div>
            <div class="tableContent">Type</div>
            <div class="tableContent">Date Modified</div>
            <div class="tableContent">Rating</div>
          </div>

          <div class="tableData" *ngFor="let grid of cardContent">
            <div class="tableContent">{{ grid.name }}</div>
            <div class="tableContent">{{ grid.type }}</div>
            <div class="tableContent">{{ grid.dateModified }}</div>
            <div class="tableContent">{{ grid.rating }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
