<div>
<div>
  <label for="deployment">Deployment Details</label>
</div>
<div>
  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" name="status">
       <option [value]="1" >Active</option>
       <option [value]="0" >In Active</option>
    </select>
    <input type="text" placeholder="Search APIs" #filter>
  </div>

  <mat-grid-list cols="1" rowHeight="20:1">
    <mat-grid-tile>A1</mat-grid-tile>
    <mat-grid-tile>A2</mat-grid-tile>
    <mat-grid-tile>A3</mat-grid-tile>
    <mat-grid-tile>A4</mat-grid-tile>
  </mat-grid-list>
</div>
</div>
